<%= simple_form_for @group do |f| %>
  <% if !@group.hidden %>
	<p>
    	<%= f.label :name %><br>
    	<%= f.text_field :name %>
  	</p>
  <% end %>
	<p>
    	<%= label_tag(:resourcemanagement, "Resource Management")%><br>
      <%= f.check_box :resourcemanagement %>
 	</p>

	<p>
    	<%= label_tag(:reservationmanagement, "Reservation Management") %><br>
   		<%= f.check_box :reservationmanagement %>
 	</p>

 		<p>
    	<%= label_tag(:usermanagement, "User Management") %><br>
   		<%= f.check_box :usermanagement %>
 	</p>
  <% if !@group.hidden %>
    <p>
      <%= f.association :users, as: :check_boxes, :label_method => :firstname %>
  </p>
  <% end %>
	<p>

  <% if @group.hidden %>
      <%= f.submit "Update Permissions"%>
  <% else %>
    	<%= f.submit %>
  <% end%>
  </p>
<% end %>