<a name = "all"></a>
<div class="page-header">
<h1>All Groups</h1>
</div>
<div align = "right"><%= link_to '+ New Group', new_group_path(anchor: "new"), :class => "btn btn-success btn-lg" %></div><%= link_to 'Groups', groups_path(anchor: "all") %>
<% @groups.each do |group| %>
	<%= group.name %> | <%= group.resourcemanagement %> | <%= group.reservationmanagement %> | <%= group.usermanagement %> | <%= link_to 'Edit', edit_group_path(group) %> | 
	<%= link_to 'Delete', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure?' } %><br>
<% end %>
<br>
<hr>
<% @user_groups.each do |group| %>
	<%= group.name %> | <%= group.resourcemanagement %> | <%= group.reservationmanagement %> | <%= group.usermanagement %> | <%= link_to 'Edit', edit_group_path(group) %> | 
	<%= link_to 'Delete', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure?' } %><br>
<% end %>


