<!-- Form for Admins to create resources -->
<%= form_for @user, url: create_user_path do |f| %>
	<p>
    	<label for="user_firstname">First Name</label><br>
    	<%= f.text_field :firstname %>
  	</p>
	<p>
    	<label for="user_lastname">Last Name</label><br>
    	<%= f.text_field :lastname %>
  	</p>
  	<p>
    	<%= f.label :email %><br>
    	<%= f.text_field :email %>
  	</p>
  	<p>
    	<%= f.label :password %><br>
    	<%= f.text_field :password %>
  	</p>  
 
	<p>
    	<%= f.submit %>
  	</p>
<% end %>