<!-- Form for creating reservations -->

<p>for<%= " "+@resource.name %></p>
<%= simple_form_for @reservation do |f| %>
  
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

  <p>
    	<%= f.label :starttime %><br>
    	<%= f.datetime_select :starttime %>
  	</p>
 
	<p>
    	<%= f.label :endtime %><br>
   		<%= f.datetime_select :endtime %>
 	</p>

  <p>
      <%= f.association :resources, as: :check_boxes, :label_method => :name, :checked => @resource.id %>
  </p>

 

<!--  	<p>
    	<%= f.label :recurring %><br>
   		<%= f.text_field :recurring %>
 	</p> -->
 
	<p>
    	<%= f.submit %>
  	</p>
<% end %>