<h1>My Reservations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Resource</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @myreservations.each do |reservation| %>
      <tr>
        <td><%= User.find(reservation.occupied).firstname %></td>
        <td><%= reservation.resource.name %></td>
        <td><%= reservation.starttime %></td>
        <td><%= reservation.endtime %></td>
        <td>
          <%= link_to 'Edit', edit_reservation_path(reservation), :class => 'btn btn-xs btn-success' %>
          <%= link_to 'Delete', reservation_path(reservation), method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<hr>

<h1>All Reservations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Resource</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @allreservations.each do |reservation| %>
    <% if current_user.view_permission?(reservation.resource) %>
      <tr>
        <td><%= User.find(reservation.occupied).firstname %></td>
        <td><%= reservation.resource.name %></td>
        <td><%= reservation.starttime %></td>
        <td><%= reservation.endtime %></td>
        <% if current_user.has_reservation_management? %>
        <td>
          <%= link_to 'Edit', edit_reservation_path(reservation), :class => 'btn btn-xs btn-success' %>
          <%= link_to 'Delete', reservation_path(reservation), method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<hr>

<a name = "reserve"></a>
<h1>Reserve a Resource</h1>
<h4>Filter Tags:
<% @tags_selected.each do |tag| %>
		<%= link_to tag.text, reservations_path({:tag => @tagstring.gsub(/%#{tag.text}/, ""), anchor: "reserve"}), :class => 'btn btn-xs btn-success' %>
<% end %>
<% @tags_left.each do |tag| %>
		<%= link_to tag.text, reservations_path({:tag => tag.text, :tags => @tagstring, anchor: "reserve"}), :class => 'btn btn-xs btn-primary' %>
<% end %>
<% if @tagstring != '' %>
<%= link_to 'reset', reservations_path({anchor: "reserve"}), :class => 'btn btn-xs btn-danger' %>
<% end %>
</h4>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
    <% if current_user.view_permission?(resource) %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td>
        <% (resource.tags & @tags_selected).each do |tag| %>
        	<%= link_to tag.text, reservations_path({:tag => @tagstring.gsub(/%#{tag.text}/, ""), anchor: "reserve"}), :class => 'btn btn-xs btn-success' %>
        <% end %>
        <% (resource.tags & @tags_left).each do |tag| %>
        	<%= link_to tag.text, reservations_path({:tag => tag.text, :tags => @tagstring, anchor: "reserve"}), :class => 'btn btn-xs btn-primary' %>
        <% end %>
        </td>
        <td><%= link_to 'Reserve', new_reservation_path(:resource => resource.id) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
