<h1>My Reservations</h1>
<% @myreservations.each do |reservation| %>
	<%= User.find(reservation.occupied).firstname %> |
	<%= reservation.resource.name %> |
	<%= reservation.starttime %> |
	<%= reservation.endtime %> |
	<%= reservation.recurring %> |
	<%= link_to 'Edit', edit_reservation_path(reservation) %> | 
	<%= link_to 'Delete', reservation_path(reservation),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    <br>
<% end %>

<h1>All Reservations</h1>
<% @allreservations.each do |reservation| %>
	<%= User.find(reservation.occupied).firstname %> |
	<%= reservation.resource.name %> |
	<%= reservation.starttime %> |
	<%= reservation.endtime %> |
	<%= reservation.recurring %> |
	<% if current_user.admin? %>
		<%= link_to 'Edit', edit_reservation_path(reservation) %> | 
		<%= link_to 'Delete', reservation_path(reservation),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
<% end %>
<hr>
<h1>Resources</h1>
<h3>Selected Tags</h3>
<% @tags_selected.each do |tag| %>
		<%= tag.text %> |
<% end %>
<br>
<hr>
<h3>Other Tags</h3>
<% @tags_left.each do |tag| %>

		<%= link_to tag.text, reservations_path({:tag => tag.text, :tags => @tagstring}) %> |
	 
<% end %>
<br> 
<br>
<% @resources.each do |resource| %>
	<%= resource.name %> |
	<%= resource.description %>	|
	<% resource.tags.each do |tag| %> 
		<%= tag.text %> |
	<% end %> 
	<%= link_to 'Reserve', new_reservation_path(:resource => resource.id) %> 
	<br>


<% end %>
