<a name = "mine"></a>

<%= form_tag(method: "get") do %>
<h4 alignment = "center">Filter Timespan:&nbsp;
<%= date_select('range', 'start_date', :order => [:month, :day, :year])%>&nbsp;to&nbsp;<%= date_select('range', 'end_date', :order => [:month, :day, :year])%>
<%= submit_tag("Go") %>
<% end %>
<div class="page-header">
<h1>My Reservations</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Resources</th>
      <th>Approved</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @myreservations.each do |reservation| %>
      <tr>
        <td><%= reservation.title %></td>
        <td><%= reservation.description %></td>
        <td><%= User.find(reservation.occupied).firstname %></td>
        <td>
        <% i = 0 %>
        <% reservation.resources.sort_by{|x| x.name}.each do |resource| %>
        <span class="label label-info"><%= resource.name %></span>
        <% i = i+1 %>
        <% if (i % 5) == 0 %>
        <br>
        <% end %>
        <% end %>
        </td>
        <td>
        <%if reservation.isapproved %>
        <span class="label label-success">yes</span>
        <% else %>
        <span class="label label-danger">no</span>
        <% end %>
        </td>
        <td><%= reservation.starttime %></td>
        <td><%= reservation.endtime %></td>
        <td>
          <%= link_to 'Edit', edit_reservation_path(reservation, anchor: "edit"), :class => 'btn btn-xs btn-success' %>
          <%= link_to 'Delete', reservation_path(reservation), method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>

<!--- puts also need to check for if manager -->



          <% if !reservation.isapproved && (current_user.has_reservation_management? || current_user.is_restricted_resource_manager(reservation)) %>
            <%= link_to 'Approve', approve_reservation_path(reservation), data: { confirm: 'Are you sure?'}, :class => 'btn btn-xs btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<a name = "all"></a>
<div class="page-header">
<h1>All Reservations</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Resources</th>
      <th>Approved</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @allreservations.each do |reservation| %>
    <% if current_user.view_permission?(reservation.resources.first) %>
      <tr>
        <td><%= reservation.title %></td>
        <td><%= reservation.description %></td>
        <td><%= User.find(reservation.occupied).firstname %></td>
        <td>
        <% j = 0 %>
        <% reservation.resources.sort_by{|x| x.name}.each do |resource| %>
        <span class="label label-info"><%= resource.name %></span>
        <% j = j+1 %>
        <% if (j % 5) == 0 %>
        <br>
        <% end %>
        <% end %>
        </td>
        <td>
        <%if reservation.isapproved %>
        <span class="label label-success">yes</span>
        <% else %>
        <span class="label label-danger">no</span>
        <% end %>
        </td>
        <td><%= reservation.starttime %></td>
        <td><%= reservation.endtime %></td>
        
        <td>
        <% if current_user.has_reservation_management? %>
          <%= link_to 'Edit', edit_reservation_path(reservation, anchor: "edit"), :class => 'btn btn-xs btn-success' %>
          <%= link_to 'Delete', reservation_path(reservation), method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        <% end %>      
          <% if !reservation.isapproved && (current_user.has_reservation_management? || current_user.is_restricted_resource_manager(reservation)) %>
            <%= link_to 'Approve', approve_reservation_path(reservation), data: { confirm: 'Are you sure?'}, :class => 'btn btn-xs btn-primary' %>
          <% end %>
        </td>
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<a name = "reserve"></a>
<div class="page-header">
<h1>Reserve a Resource</h1>

</div>
<h4>Filter Tags:&nbsp;
<% @tags_selected.each do |tag| %>
    <%= link_to tag.text, reservations_path({:tag => @tagstring.gsub(/%#{tag.text}/, ""), anchor: "reserve"}), :class => 'btn btn-xs btn-success' %>
<% end %>
<% @tags_left.each do |tag| %>
    <%= link_to tag.text, reservations_path({:tag => tag.text, :tags => @tagstring, anchor: "reserve"}), :class => 'btn btn-xs btn-primary' %>
<% end %>
<% if @tagstring != '' %>
<%= link_to 'reset', reservations_path({anchor: "reserve"}), :class => 'btn btn-xs btn-danger' %>
<% end %>
</h4>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Description</th>
      <th>Restricted?</th>
      <th>Managers</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.sort_by{|x| x.name}.each do |resource| %>
    <% if current_user.view_permission?(resource) %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td>
        <% if resource.isrestricted %>
        <span class="label label-success">yes</span>
        <% else %>
        <span class="label label-danger">no</span>
        <% end %>
        </td>
        <td>
        <% resource.groups.each do |group| %>
        <span class="label label-info"><%= group.name %></span>
        <% end %>
        </td>
        <td>
        <% alphabetizetags(resource.tags & @tags_selected).each do |tag| %>
        	<%= link_to tag.text, reservations_path({:tag => @tagstring.gsub(/%#{tag.text}/, ""), anchor: "reserve"}), :class => 'btn btn-xs btn-success' %>
        <% end %>
        <% alphabetizetags(resource.tags & @tags_left).each do |tag| %>
        	<%= link_to tag.text, reservations_path({:tag => tag.text, :tags => @tagstring, anchor: "reserve"}), :class => 'btn btn-xs btn-primary' %>
        <% end %>
        </td>
        <td><%= link_to 'Reserve', new_reservation_path(:resource => resource.id, anchor: "new"), :class => 'btn btn-xs btn-success' %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
