<h1>My Reservations</h1>
<% @reservations.each do |reservation| %>
	<%= User.find(reservation.occupied).firstname %> |
	<%= reservation.resource.name %> |
	<%= reservation.starttime %> |
	<%= reservation.endtime %> |
	<%= reservation.recurring %> |
	<%= link_to 'Edit', edit_reservation_path(reservation) %> | 
	<%= link_to 'Delete', reservation_path(reservation),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    <br>
<% end %>

<h1>Rooms</h1>
<% @resources.each do |resource| %>
	<%= resource.name %> |
	<%= resource.description %>	| 
	<%= link_to 'Reserve', new_reservation_path(:resource => resource.id) %> 
	<br>


<% end %>
