<!-- Form for Admins to create resources -->
<%= simple_form_for @resource do |f| %>
	<p>
    	<%= f.label :name %><br>
    	<%= f.text_field :name %>
  	</p>
 
	<p>
    	<%= f.label :description %><br>
   		<%= f.text_area :description %>
 	</p>

  <p> 
      <%= f.label :tags %><br>
      <%= f.text_area :temp_tags %>
  </p>


 <p>
      <%= f.label :isrestricted, 'Restrict Resource:' %>
      <%= f.check_box :isrestricted %>
  </p>

  <p>
      <%= f.association :groups, as: :check_boxes, :label_method => :name, collection: Group.order('name ASC'), label: "Resource Managers:" %>
  </p>

  <p>
  <p> Children Resources: </p>
  Current Children: <br>
  <% if Node.where(:parent_id => @resource.id).count != 0 %>
    <% Node.where(:parent_id => @resource.id).first.resources.each do |child| %>
      <%= child.name %> <br>
    <% end %>
  <% end %>
  <%= f.collection_check_boxes(:id, Resource.where.not(id: @resource.id), :id, :name) do |b| %>
                
                <%= b.label class:"label-checkbox" do%>
                    
                    <% box = b.check_box  %>
                    <%=box + b.text %>

                 
                <%end%>

                 
  <% end %>

  </p>


	<p>
    	<%= f.submit %>
  </p>
<% end %>