<!-- Form for Admins to create resources -->
<%= form_for @resource do |f| %>
	<p>
    	<%= f.label :name %><br>
    	<%= f.text_field :name %>
  	</p>
 
	<p>
    	<%= f.label :description %><br>
   		<%= f.text_area :description %>
 	</p>

  <p> 
      <%= f.label :tags %><br>
      <%= f.text_area :temp_tags %>
  </p>
	<p>
    	<%= f.submit %>
  </p>
<% end %>