<!--  <div class="row">
	<% @permissions.each do |permission| %>
		
	        <div class="col-lg-3 col-md-3">	
				<%= simple_form_for permission,:url => update_permissions_resource_path do |f| %>
		  			<p><%= f.label permission.access %></p>
		  			<p>
		      			<%= f.association :groups, as: :check_boxes, :label_method => :name  %>
		  			</p>

					<p>
		    			<%= f.submit %>

		  			</p>
		  	</div>
		 
		<% end %>
	<% end %> 
</div> -->

<%= form_tag update_permissions_resource_path do %>
		<% @permissions.each do |permission| %>
		<%= fields_for 'groups[]', permission do |p| %>
			<p><%= p.label permission.access %></p>
			<p>
		    	
		    	    <%= p.collection_check_boxes(:id, Group.all, :id, :name) do |b| %>
       					<%= b.label class:"label-checkbox" do%>
       					<% box = b.check_box :checked => true%>
         				<%=box + b.text%> 
        				<%end%>
        				<% end %>

			</p>
		<% end %>
		<% end %>
		<p>
		    <%= submit_tag %>

		</p>
		 
<% end %>


