<!DOCTYPE html>
<html>
<head>
  <title>Hypotheticorp - Organizerish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Temporary Navbar for devise authentication -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<% if user_signed_in? %>
    <strong><%= link_to 'Hypotheticorp', reservations_path %></strong>
  | Logged in as <strong><%= current_user.email %></strong>. |
  <%= link_to 'Reservations', reservations_path %> |
    <% if current_user.has_resource_management? %>
      <%= link_to 'New Resource', new_resource_path %> |
      <%= link_to 'Resources', resources_path %> |
    <% end %>
    <% if current_user.has_user_management? %>
      <%= link_to 'New Group', new_group_path %> |
      <%= link_to 'Groups', groups_path %> |
    <% end %>
      
  
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</nav>
<br> 
<br>
<!-- Notification for devise authentication-->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<br>
<%= yield %>

</body>
</html>
